.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 40px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 305px);
  gap: 16px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 100%);
  }
}