.cardContainer {
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  row-gap: 8px;

  strong {
    color: #333;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  span {
    color: #2F2E41;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  img {
    width: 147px;
  }
}

.btnAddToCart {
  width: 100%;
  outline: none;

  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 40px;

  border-radius: 4px;
  background: #009EDD;
  border: none;

  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}
