.containerWrapper {
  position: relative;
  width: 100%;

  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}


.container {
  border-radius: 8px;
  border: 2px solid #009EDD;
  background: #FFF;
  padding: 16px;
  width: 100%;

  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  ::placeholder {
    color: #C0C0C0;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
