.containerWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchIcon {
  position: absolute;
  right: 16px;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.container {
  border-radius: 8px;
  border: 2px solid transparent;
  background: #FFF;
  padding: 16px;
  width: 100%;
  outline: none;

  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  ::placeholder {
    color: #C0C0C0;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:focus {
    border-color:#009EDD;
  }
}
